@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-guinda: #6B1629;
  --color-guinda-dark: #561121;
  --color-gold: #B8860B;
  --color-sidebar: #0C4A6E;
  --color-sidebar-hover: #0a3d5b;
  --color-bg-app: #F3F4F6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
